asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
MouseInfo
mss
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata