{% extends 'base.html' %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
<div class="bg-gray-100 p-4 rounded-xl my-6">
    <div class="flex items-center justify-between">
        <h4 class="font-bold text-3xl text-left pb-2">
            Account NO: {{request.user.account.account_no}}
        </h4>
        <a href="{% url 'update_profile' %}"
           class="btn-blue">
            Update Profile
        </a>
        <a href="{% url 'password_change' %}"
           class="btn-blue ml-2">
            Change Password
        </a>
    </div>
    <!-- Display borrowing history -->
<div class="text-center mb-4">
  <h2 class="text-2xl font-bold mb-2">Borrowing History:</h2>
  <ul class="list-inside">
      {% for transaction in transaction_history %}
          <li class="mb-2 sm:mb-3 md:mb-4 lg:mb-5">
              Borrowed on {{ transaction.timestamp|date:"F d, Y" }} - Amount: ${{ transaction.amount }}
          </li>
      {% endfor %}
  </ul>
</div>
</div>


<div class="container mt-5">
    {% if books %}
    <h2 class="text-center text-2xl font-bold mb-4">Bought Books:</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for book in books %}
        <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg">
            {% if book.image %}
            <img src="{{ book.image.url }}"
                 alt="{{ book.title }} Image"
                 class="w-full h-48 object-cover">
            {% else %}
            <div class="bg-gray-300 w-full h-48 flex items-center justify-center">
                <p class="text-gray-500">No Image Available</p>
            </div>
            {% endif %}
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ book.title }}</div>
                <p class="text-gray-700 text-base ">
                    {{ book.description }}
                </p>
                <div class="mt-4 flex justify-between">
                    <div>
                        <p class="text-gray-600">
                            <strong>Category:</strong> {{ book.category }}
                        </p>
                        <p class="text-gray-600">
                            <strong>Price:</strong> ${{ book.price }}
                        </p>
                    </div>
                    <div class="flex items-end">
                        <a href="{% url 'book_detail' book.id %}"
                           class="btn-blue">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="h-70vh flex justify-content-center items-center">
        <h1 class="text-2xl">No bought books yet.</h1>
    </div>
    {% endif %}
    
</div>

<style>
    .btn-blue {
        background-color: #3490dc;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn-blue:hover {
        background-color: #2779bd;
    }
</style>

{% endblock %}