{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Library Management System" />
        <title>
            {% block head_title %}LibraLink{% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static '../static/style.css' %}">

        <link rel="stylesheet" href="{% static '../static/script.js' %}">

        {% block head_extra %}{% endblock %}
        <style>
            footer {
                position: fixed !important;
                bottom: 0 !important;
                width: 100%;
            }
        </style>
    </head>
    <body class="bg-slate-50">
        {% include 'navbar.html' %}
        {% block body %}
            <div class=" lg:mx-auto" >
                {% include 'messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
            {% include 'footer.html' %}

        {% endblock %}

        <script src="{% static 'script.js' %}"></script>
    </body>

</html>