<div class="bg-gray-100 rounded-lg shadow-lg p-6 m-4">
    <div class="flex flex-col items-center justify-center">
        <div class="w-full mb-4 text-center">
            <a href="{% url 'home' %}" class="block text-4xl font-extrabold tracking-wide text-blue-800">
                All Categories
            </a>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-10 gap-2 w-full">
            {% for category in categories %}
            <a href="{% url 'books_filter' book_category=category %}"
                class="block bg-white border border-gray-300 hover:shadow-lg hover:border-blue-400 rounded-lg px-4 py-2 text-center transition duration-200 transform hover:-translate-y-1">
                <span class="block  text-gray-800  ">{{ category }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>