{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}LibraLink{% endblock %} 
{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
    <div class="w-full lg:w-1/2 lg:py-6 text-center ">
        <img class="rounded-2xl" src="{% static '../static/img.jpg' %}" />
    </div>

    <div class="flex flex-col w-full lg:w-1/2 justify-center items-center pt-10 pb-20 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4 text-blue-500">Welcome to LibraLink </h1>
        <p class="leading-normal ">
            Streamlining Knowledge Access with our Online Library Management Website. LibraLink is your digital gateway to a vast repository of books, journals, and resources, offering a user-friendly interface for seamless browsing, borrowing, and returning. Experience the convenience of real-time catalog updates, personalized recommendations, and interactive features that enhance your reading journey. LibraLink's robust management system ensures efficient book tracking, membership management, and resource allocation. Join our virtual library community and explore the world of knowledge at your fingertips with LibraLink – where learning meets innovation.
        </p>
    </div>

   
</div>

<div class="flex mb-10"> 
    {% include 'all_books.html' %} 
    {% include 'category.html' %}
</div>


{% endblock %}