{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5 bg-gray-100 p-6 rounded-lg shadow-md">
    {% if messages %}
        <div class="alert alert-danger text-center" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="md:flex">
       
        <div class="md:w-1/2 md:ml-4">
            <h1 class="text-4xl font-bold mb-4">{{ book.title }}</h1>
            <p class="text-gray-800">{{ book.description }}</p>
            <p class="mt-2"><strong>Price:</strong> ${{ book.price }}</p>

            {% if user.is_authenticated %}
                {% if user in book.borrowers.all %}
                    <form method="post" action="" class="mt-4">
                        {% csrf_token %}
                        <div class="text-center">
                            <button name="return_book" type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-800">Return Now</button>
                        </div>
                    </form>
                {% else %}
                    <form method="post" action="" class="mt-4">
                        {% csrf_token %}
                        <div class="text-center">
                            <button name="borrow_now" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Borrow Now</button>
                        </div>
                    </form>
                {% endif %}
            {% else %}
                <p class="mt-4"><a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</a> to borrow or return this book.</p>
            {% endif %}
        </div>
        <div class="md:w-1/2 flex items-center justify-center mb-4">
            {% if book.image %}
                <img src="{{ book.image.url }}" alt="{{ book.name }} Image" class="w-full md:w-2/3 h-auto rounded-lg shadow-md">
            {% else %}
                <p>No image available.</p>
            {% endif %}
        </div>
    </div>
    {% include 'books/comment.html' %}
    
</div>
{% else %}
<div class="container mt-5 bg-white text-center text-3xl p-6 rounded-lg shadow-md">
    <p>You are not logged in. Please <a href="{% url 'login' %}" class="text-blue-800">login</a> to continue.</p>
</div>
{% endif %}
{% endblock %}